{% extends 'main/base.html' %}


{% block title %} Posty tu mamy {% endblock %}

{% block content %}

<h1>Our Blog</h1>

<div class="blog_list">

    {% for post in posts_list %}
        <div class="blog_list_item">
            <a href="/blog/{{post.slug}}" class="btn btn-primary"><span class="blog_list_title">{{post.title}}  </span></a>
        {% if post.sponsored %}
         <span class="blog_list_title">post sponsorowany</span><br>
        {% endif %}
             <span class="blog_list_meta">{{post.created}}  </span>
             <span class="blog_content_short">{{post.content|truncatewords:30|linebreaks}}  </span>
             <a href="{{ post.get_absolute_url}}" class="btn btn-primary">Read More &rarr;</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
