{% extends 'blog/index.h.html' %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created }}</p>
        {% if tags %}
          <p class=" text-muted">Tagi:
            {% for tag in tags %}
              {{ tag.name }}
            {% endfor %}
        {% endif %}
          </p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>

  </div>
</div>
<div><a href="{% url 'blog:blog_index' %}">back to books list</a></div>

{% endblock content %}

