{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <title>Our Posts</title>
</head>
<body>
<a href="{% url 'blog:blog_index' %}">
    <img id="small_logo" src="{% static 'blog/images/small_logo.png' %}" alt="logo-pizzaMama">
</a>
<div class="title">
<h1>Our Blog</h1>
</div>
<div class="blog_list">
    {% for post in posts %}
        <div class="blog_list_item">
            <span class="blog_list_title">{{post.title}}  </span>
             {% comment %} <span class="blog_list_meta">{{post.content}}  </span> {% endcomment %}
             <span class="blog_list_meta">{{post.created}}  </span>
             <a href="{{ post.get_absolute_url}}" class="btn btn-primary">Read More &rarr;</a>
        </div>
    {% endfor %}
</div>
</body>
</html>
