{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <header class="fixed-top">
        <div class="px-3 py-2 bg-dark text-white ">
          <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="small_logo d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <img class="bi me-2 small_logo" width="140" id="small_logo" src="{% static 'main/images/logo.png' %}" alt="Logo">
              </a>
              <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                  <a href="/" class="nav-link text-secondary">
                    Home
                  </a>
                </li>
                <li>
                  <a href="{% url 'blog:blog_index' %}" class="nav-link text-white">
                    Blog
                  </a>
                </li>
                <li>
                  <a href="{% url 'books:books_index' %}" class="nav-link text-white">
                   Books
                  </a>
                </li>
                <li>
                  <a href="{% url 'main:about' %}" class="nav-link text-white">
                    About
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="px-3 py-2 bg-light border-bottom mb-3">
          <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
              <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
    
            <div class="text-end">
              <button type="button" class="btn btn-light text-dark me-2">Login</button>
              <button type="button" class="btn btn-primary">Sign-up</button>
            </div>
          </div>
        </div>
      </header>

    <main class="container">
        <div>{{ text }}</div>
        {% block content %}
        {% endblock %}
    </main>

<footer>
    <script src="{% static 'main/js/bootstrap.bundle.js' %}"> </script>
</footer>
</body>
</html>
